html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
}

.page {
  max-width: 100%;
  padding: 20px;
  margin: 5%;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-size: 1.2em;
}
